*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: cyan;
}
@media only screen and (max-width: 480px) and (min-width:320px){
    body{
        background-color: lightcyan;
    }
}
@media only screen and (max-width: 600px) and (min-width:481px){
    body{
        background-color: teal;
    }
}
@media only screen and (max-width: 1200px) and (min-width:900px){
    body{
        background-color: burlywood;
    }
}