/* ladder */
/* https: //pngimg.com/uploads/ladder/ladder_PNG14780.png; */

/* grass */
/* https://opengameart.org/sites/default/files/grass_block.png */

:root {
    --height: 500vh;
  }
  body {
    margin: 0;
    background: linear-gradient(#2980b9, #6dd5fa, #ffffff);
  }
  
  main {
    min-height: var(--height);
    position: relative;
  }
  
  .grass {
    height: 150px;
    background-image: url("https://media.discordapp.net/attachments/1039034574296076399/1052473001020489788/image_2.jpg?width=577&height=577");
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .ladder {
    height: calc(var(--height) - 200px);
    background-image: url("https://lh3.googleusercontent.com/vI4Qa08i6jICxqm5-Fbhr7xdwbikcwwwwoeyR-4Y7qwa3xELAPYxv7OitIECxM_OBo1Sghb4oA00cts1587qZvIsh0MbXI5aNzA=s400");
    width: 380px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .progress {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: bold;
    background-color: #fff;
    padding: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 72px;
    text-align: right;
  }
  .run-box{
    position: absolute;
    width: 50%;
    padding-top: 100px;
    padding-bottom: 100px;
    left: 0;
    height: 300px;
    bottom: 90px;
    overflow: hidden;
  }
  .run-box img{
    position: absolute;
    right: 0;
    bottom: 0;
    transition: 0.3s all;
  }
  .run-box.active img{
    right: 100%;
  }