@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css);
*{
  transition: 0.2s all;
}
.wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper.light{
  background-color: white;
}
.wrapper.dark{
  background-color: black;
}
h1{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4rem;
}
.dark h1{
  color: whitesmoke;
}
.footer{
  background-color: #f0f0f0;
  height: 300px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 0;
}
.footer.dark{
  background-color: #4a4a4a;
}
.social-icon.dark{
  color: #f0f0f0;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
li{
  margin: 0 10px;
}
.social-icon{
  text-decoration: none;
  font-size: 2rem;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.3);
  color: #363636;
  text-align: center;
  line-height: 50px;
}
.toggler{
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
}
.dark-mode-toggle {
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.dark-mode-toggle__icon {
  width: 50px;
  height: auto;
  color: #F2C94C;
  transition: color .2s linear;
}

.dark-mode-toggle__icon:hover {
  color: #F6C11F;
}

.dark-mode-toggle__icon--moon {
  color: white;
  opacity: .6;
  transition: opacity .2s linear, color .2s linear;
}

.dark-mode-toggle__icon--moon:hover {
  color: white;
  opacity: .8;
}

.dark-mode-toggle__rays {
  transition: opacity .2s linear .2s;
}

.dark-mode-toggle__icon--moon .dark-mode-toggle__rays {
  transition: opacity .2s linear;
  opacity: 0;
}

.dark-mode-toggle__cut-out {
  transition: transform .5s cubic-bezier(0.54,-0.42, 0.29, 1.3);
}

.dark-mode-toggle__icon--moon .dark-mode-toggle__cut-out {
  transform: translateX(-30%);
  transition: transform .5s cubic-bezier(0.21, 0.17, 0.43, 1.43);
}

.theme--dark {
  background: var(--dark);
}

:root {
  --dark: #0E273C;
  --light: #efefef;
}