body{
    margin: 0;
    background-color: teal;
}

.card-name{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: bold;
}
.card-category{
    white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #999;
        width: 100%;
        margin: 0 0 10px 0;
        font-size: 14px;
}
.card-price{
    white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        margin: 0 0 10px 0;
        font-size: 14px;
        font-weight: bold;
}
.ratio .card-img-top{
    object-fit: cover;
}   