body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}
table{
    border-collapse: collapse;
}
td{
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
}
td:nth-child(3n){
    border-right: 2px solid #000;
}

tr:nth-child(3n) td{
    border-bottom: 2px solid #000;
}
td.default{
    color: #000;
}

ul{
    list-style-type: none;
    margin:20px 0 ;
    padding: 0;
    display: flex;
    gap: 10px;
}

li{
    border: 1px solid #ddd;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    line-height: 20px;
}

td:not(.default){
    cursor: pointer;
}
td.active{
    background: #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

td.error{
    background-color: red;
}